.table {
  width: 100%;

  thead {
    background: #f7f8fa;
    border: 1px solid #eff0f4;
    border-radius: 8px;

    th {
      border: 1px solid #eff0f4;
      border-left: none;
      border-right: none;
      vertical-align: middle;
      text-align: center;

      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #505470;

      padding: 1rem;
      box-sizing: border-box;
    }
  }

  tbody {
    border-bottom: 1px solid #eff0f4;

    td {
      text-align: center;
      vertical-align: middle;

      .td-user {
        display: grid;
        width: 65%;
        margin-left: auto;
        margin-right: auto;

        grid-template-columns: 1fr 2fr;

        &__avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem;
        }

        &__info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          width: 100%;

          h5 {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #192a3e;
            padding: 0;
            margin: 0;
            text-align: start;
          }

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.01em;
            color: #90a0b7;
            padding: 0;
            margin: 0;
          }
        }
      }

      .td-text {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #192a3e;

        &--badge {
          background: rgba(36, 193, 143, 0.1);
          border-radius: 9px;
          box-sizing: border-box;
          padding: 0.25rem 1.5rem;
          text-align: center;

          font-weight: 500;
          font-size: 9px;
          line-height: 14px;
          color: #24c18f;
        }
      }

      .td-actions {
        display: flex;
        flex-direction: row;

        button {
          outline: none;
          border: none;
          background-color: white;
          margin-right: 0.5rem;
          color: #5f66e9;
          font-size: 20px;
        }
      }
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__total {
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #232638;
    }
  }

  &__button {
    border: 1px solid #eff0f4;
    border-radius: 3px;
    background-color: white;
    margin-right: 0.5rem;

    box-sizing: border-box;
    padding: 5px 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    outline: none;

    &:last-child {
      margin-right: 0rem;
    }

    &:disabled {
      opacity: 0.85;
      cursor: not-allowed;
    }

    &--selected {
      background-color: #5459ea;
      color: white;
    }
  }
}
