.button {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  outline: none;
  border: none;

  color: var(--fc);
  background-color: var(--bg);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &--outline {
    color: var(--bg);
    background-color: white;
    border: 1px solid var(--bg);
    border-radius: 4px;
  }

  &:hover {
    opacity: 0.95;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.95;
  }
}

.loader {
  border: 3px solid black;
  border-radius: 50%;
  border-top: 3px solid #f3f3f3;
  width: 18px;
  height: 18px;
  margin-right: 1rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
